<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/styles/styles.css" type="text/css" /> -->
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        <h1>Travel Weather Application</h1>
      </div>
      <div class="holder zip">
        <label for="zip">Enter Destination Here</label>
        <input type="text" id="zip" placeholder="Destination City" />
      </div>
      <div class="holder feel">
        <label for="tripDate">When do you intend to Leave</label>
        <input type="date"
          class="myInput"
          id="tripDate"
          placeholder="14/03/2020"          
        name="tripDate"></input>
        <button id="generate" type="submit">GO!</button>
      </div>
      <div id="extraFunction">
        <button id="print">Print Your Trip Details</button>
        </div>
      <div class="holder entry">
        <div class="title">Trip Summary</div>
        <div id="entryHolder">
          <div id="city"></div>
          <div id="duration"></div>
          <div id="days"></div>
          <div id="temp"></div>
          <div id="cityImage" alt="pixabay.com"></div>
        </div>
      
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      }
  </script>    
  </body>
</html>
