<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="/styles/styles.css" type="text/css" /> -->
  </head>
  <body>
    <div id="app">
      <div class="holder headline">
        Travel Weather Application
      </div>
      <div class="holder zip">
        <label for="zip">Enter Destination Here</label>
        <input type="text" id="zip" placeholder="Destination City" />
      </div>
      <div class="holder feel">
        <label for="feelings">When do you intend to Leave</label>
        <input type="date"
          class="myInput"
          id="tripDate"
          placeholder="Select Date"          
        ></input>
        <button id="generate" type="submit">GO!</button>
      </div>
      <div class="holder entry">
        <div class="title">Trip Summary</div>
        <div id="entryHolder">
          <div id="city"></div>
          <div id="duration"></div>
          <div id="days"></div>
          <div id="temp"></div>
          <div id="cityImage" alt="pixabay.com"></div>
        </div>
      
    </div>
    <!-- <script src="index.js" type="module"></script> -->
  </body>
</html>
